@import "tailwindcss";

:root {
    --primary: #1DB954;        /* normal green */
    --primary-light: #28e07c;  /* lighter green for hover */
    --bg: #121212;
    --text: #e0e0e0;
    --accent: #23f57e;
}


body {
    @apply bg-[var(--bg)] text-[var(--text)] font-sans min-h-screen;
}
